# templates/
tmp/
.aider*
.mypy_cache/

###-------------------###
###  TopTal: crystal  ###
###-------------------###

# Created by https://www.toptal.com/developers/gitignore/api/crystal
# Edit at https://www.toptal.com/developers/gitignore?templates=crystal

### Crystal ###
/docs/
/lib/
/bin/
/build/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
#/shard.lock

# End of https://www.toptal.com/developers/gitignore/api/crystal

###--------------------###
###  TopTal: obsidian  ###
###--------------------###

# Created by https://www.toptal.com/developers/gitignore/api/obsidian
# Edit at https://www.toptal.com/developers/gitignore?templates=obsidian

### Obsidian ###
# config dir
.obsidian/

# End of https://www.toptal.com/developers/gitignore/api/obsidian
